/********************************
** adamrob.co.uk - 1OCT2014
** Parallax Scroll Wordpress Plugin
**
** CSS Styles
********************************/

/* V0.3 - Certain themes behave differently regarding ordering.
Set the z-index to 1 to help prevent issues with layouts */
.parallax-window {
	position: relative;
	z-index: 1;
    min-height: 100px;
    background: transparent;
}

.parallax-header {

}